.footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: #282828;
    font-weight: 666;
    color: whitesmoke;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 500000;
    border-top: 2px solid black;
}

.footer-left {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 33.33333%;
}

.footer-center {
    padding-bottom: 10px;
    // padding-right: 264px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33333%;
    transform: translateX(10px);
}

.footer-right {
    width: 33.33333%
}

.controls {
    margin-top: 17px;
    // margin-left: 29px;
    margin-bottom: 5px;
    width: 100%;
    // padding-left: 7pc;
    // margin-left: 18px;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    justify-content: space-between;
    // -webkit-box-orient: horizontal;
    // -ms-flex-flow: row nowrap;
    // flex-flow: row nowrap;
}

.progress-bar {
    // justify-content: space-between;
    display: inline-flex;
    // margin-left: 12%;
    // padding-bottom: 10px;
    width: 100%;
    // padding-left: 2pc;
}

.progress-container {
    width: 100%;
}

.progress-time {
    padding-left: 4px;
    color: rgb(153, 153, 153);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.slider {
    overflow: hidden;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    //   background: rgb(29, 185, 84);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    transform: translateY(-3.4px);
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
    color: transparent;
    box-shadow: -300px 0 0 300px rgb(29, 185, 84);
    z-index: 2;
}

.slider:hover {

}

// .slider::-webkit-slider-thumb:hover {
//     -webkit-appearance: none;
//     left: 200px;
//     height: 10px;
//     border-radius: 100%;
//     cursor: pointer;
//     background: rgb(5, 5, 5);
//     box-shadow: -200px 0 0 200px rgb(5, 5, 5);
//     z-index: 2;
// }

.currentSong {
    margin: auto;
    margin-left: 8px;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    // border: 2px solid black;
    // padding-bottom: 70px;
}

.currentSong img{
    height: 100%;
    max-height: 55px;
    max-width: 55px;
}

.songInfo {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.songInfo-track {
    text-decoration: none;
    letter-spacing: .1em;
    font-size: 14px;
    font-family: sans-serif;
    color: aliceblue;
}

.songInfo-artist {
    text-decoration: none;
    letter-spacing: .1em;
    font-size: 11px;
    font-family: sans-serif;
    color: rgb(153, 153, 153);
}



.footer-right {
    display: flex;
}

.volume-bar {
    padding-top: 30px;
    position: absolute;
    right: 18px;
}

.likeSong {
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: #919496;
    background-color: transparent;
    text-decoration: none;
    line-height: 2;
    font-family: sans-serif;
    letter-spacing: 0.04em;
    outline: none;
}

.likedSong {
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: rgb(29, 185, 84);
    background-color: transparent;
    text-decoration: none;
    line-height: 2;
    font-family: sans-serif;
    letter-spacing: 0.04em;
    outline: none;
}

.previous {
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: #5a5c5e;
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.playpause {
    cursor: pointer;
    font-size: 15px;
    color: #919496;
    background-color: transparent;
    text-decoration: none;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12.375;
    padding-right: 11px;
    letter-spacing: 0.04em;
    outline: none;
    margin: 0 10px;
    border-radius: 500px;
    border: 1px solid hsla(8,0%,100%,.6);
    margin-right: 20px;
    margin-left: 20px;

}

.pause {
    transform: translateX(-1.35px)
}

.playpause:hover {
    transform: scale(1.1);
    color: #d4d7d8;
}

.forward {
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: #919496;
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.forward:hover {
    color: #d4d7d8;
}

.volume-mute {
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: #919496;
    background-color: transparent;
    transform: translateY(2.5px);
    outline: none;
}

.FontAwesomeIcon{
}

.volume-level {
    overflow: hidden;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;   
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    cursor: pointer;
    margin-top: 13px;
    
}

.volume-level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
    color: transparent;
    box-shadow: -200px 0 0 200px rgb(29, 185, 84);
    z-index: 2;
}