#root {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}



.title {
    font-family: Circular, Helvetica, Arial, sans-serif;
    padding-left: 30px;
}

.login-signup {
    font-family: Circular, Helvetica, Arial, sans-serif;
    // position: relative;
    // left: 87%;
    z-index: 2;
    align-items: center;
    width: 200px;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: 666;
    color: whitesmoke;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 1;
}

.links {
    color: whitesmoke;
    padding-right: 30px;
    align-items: center;
    text-decoration: none;
}

.greeting {
    font-family: Circular, Helvetica, Arial, sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    
}

.greeting h2{
    color: white;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
    margin-top: 0;
}

.greeting h3{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 0em;
    font-weight: 500;
    letter-spacing: 0px;
}

.listen-button {
    background-color:rgb(16, 185, 16);
    color:  white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 2px;
}

.listen-button:hover{
    color:white;
    background-color:  rgba(153, 0, 255, 0.5);
}

.totality {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(250, 234, 4, 0.5), rgba(153, 0, 255, 0.5)), image-url('bubbles.svg');
    background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    // left: 0;
    // right: 0;
    // top: 0;
    z-index: 0;
}

// Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;





