.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    bottom: 0%;
    background: linear-gradient( rgba(3, 0, 36, 0.5), rgb(22, 2, 48));
    color: white
}

.main-container {
    position: absolute;
    left: 230px;
    top: 62px;
}

.main-nav-content {
    position: relative;
}

.featured {
    list-style: none;
    text-align: center;
    letter-spacing: 0.09em;
    font-size: 12px;
    font-family: sans-serif;
    color :white;
}

.featured:hover {
    cursor: pointer;
}



.featured:active::after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: 27.1pc;
    bottom: 0px;
    width: 40px;
    height: 3px;
    background-color: #1ed760;
}

.main-playlist-header {
    font-family: sans-serif;
    font-size: 36px;
    padding-left: 30px;
}

.main-playlists {
    display: flex;
    padding-left: 20px;
    flex-wrap: wrap;
}

.main-playlist {
    margin: 8px;
}

.main-playlist-title {
    text-align: center;
    padding-top: 8px;
}

.main-playlist-image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.playlist-image {
    width: 150px;
    height: 150px;
}