.playlist-content {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background: rgb(22, 22, 22);
    color: white
}

.left-right {
    top: 62px;
    left: 230px;
    right: 0%;
    display: flex;
    position: absolute;
    font-family: sans-serif;
    background: #161616;
}

.left {
    width: 25%;
    margin-top: 0;
    padding-left: 34px;
    padding-right: 8px;
    text-align: center;
    max-width: 320px;
}

.left-content-image-container {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    
}

.left-content-image-container:before{
  content: '';
  padding: 50% 0; /* vertical value as  100% equals width */
  display: inline-block;
}

.left-content-image {
    height: 100%;
    width: 100%
}

.playlist-title {
    margin: 12px;
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .005em;
    font-weight: 700;
    color: #fff;
    text-transform: none;
}

.playlist-owner {
    font-size: 14px;
    letter-spacing: .005em;
    color: rgb(179, 179, 179);
}

.play {
    cursor: pointer;
    font-size: 12px;
    letter-spacing: .16em;
    display: inline-block;
    border: 0;
    border-radius: 500px;
    padding: 13px;
    min-width: 139px;
    margin-top: 32px;
    background-color: rgb(29, 185, 84);
    color: white;
    vertical-align: middle;
    outline: none;
}

.play:hover {
    transform: scale(1.05);
    background-color: rgb(35, 207, 95)
}

.right {
    width: 75%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 100px;
}

.track-row {
    display: flex;
    height: 4.56em;
    font-family: sans-serif;
    list-style-type: none;
    color: rgb(179, 179, 179);
    letter-spacing: 0.21px;
    justify-content: space-between;
    margin-right: 150px;
    text-decoration: none;
}

.note-icon {
    padding-top: 8px;
    margin-top: 15px;
}

.track-info {
    left: 55px;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
    
}

.playlist-buttons {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}