.login-form-container {
    font-family: Circular, Helvetica, Arial, sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 250px;  
}

.login-form-container h1{
}

.login-form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    // align-items: center;
    flex-direction: column;
}

.login-input {
    width: 30vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    // font-size: 50px;
}

.demo {
    
}

.demo-button {
    background-color:rgb(16, 185, 16);
    color: rgb(250, 234, 4);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    width: 30vh;
    // text-align: center;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.demo-button:hover{
    color:rgb(16, 185, 16);
    background-color: (rgb(250, 234, 4));
}

.line-width {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #fff;
    font-weight: 400;
}

.split {
    border-top: 1px solid black;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.or {
    box-sizing: border-box;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 35, 38);
    display: inline;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: auto;
    letter-spacing: 1px;
    line-height: 1px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
}

.session-submit {
    background-color:rgb(16, 185, 16);
    color: rgb(250, 234, 4);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    position: relative;
    right: -144px;
    width: 50%;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}


.session-submit:hover{
    color:rgb(16, 185, 16);
    background-color: (rgb(250, 234, 4));
}

.switchform {
    background-color:rgb(16, 185, 16);
    color: rgb(250, 234, 4);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 30vh;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.switchform:hover{
    color:rgb(16, 185, 16);
    background-color: (rgb(250, 234, 4));
}