.line-width-1 {
    width: 100%;
    position: relative;
}

.split-1 {
    border-top: 1px solid rgb(199, 199, 199);
    display: flex;
    position: relative;
    text-align: center;
}

.login-form-container {
    font-family: Circular, Helvetica, Arial, sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    // margin: auto;
    background-color: white;
    // padding-top: 250px;  
}

.login-form-container h1{
    font-size: 40px;
    font-family: cursive;
}

.login-form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
}

.login-form {
    display: flex;
    // align-items: center;
    flex-direction: column;
    line-height: 0em;
}

.login-input {
    max-width: 450px;
    width: 70vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    // font-size: 50px;
}

.demo-direction {
    font-size: 17px;
    font-weight: bolder;
    padding-top: 15px;
}

.demo-button {
    background-color: #3b5998;
    color: #fff;
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    max-width: 450px;
    width: 70vh;
    // text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    outline: none;
}

.demo-button:hover{
    color:#fff;
    background-color: #4667af;
}

.line-width {
    width: 100%;
    // position: relative;
    // min-height: 1px;
    // box-sizing: border-box;
    // line-height: 1.5;
    // background-color: #fff;
    // font-weight: 400;
}

.split {
    border-top: 1px solid rgb(199, 199, 199);
    display: block;
    line-height: 1px;
    // margin: 15px 0;
    position: relative;
    text-align: center;
}

.or {
    // box-sizing: border-box;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    // background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 35, 38);
    display: inline;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: auto;
    letter-spacing: 1px;
    line-height: 1px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
}

.errors {
    list-style-type: none;
    border-width: 0;
    font-size: 12px;
    padding: 14px 14px 12px;
    font-weight: 400;
    background-color: #f59b23;
    border-color: #f59b23;
    color: #fff;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-radius: 0;
    width: 93.5%;
    text-align: center;
}

.session-submit {
    background-color:rgb(29, 185, 84);
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    position: relative;
    // right: -200px;
    margin: auto;
    max-width: 450px;
    width: 70vh;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    outline: none;
}


.session-submit:hover{
    color:white;
    background-color:  rgba(153, 0, 255, 0.5);
}

.switch-question {
    font-size: 17px;
    font-weight: bolder;
    padding-top: 15px;
}

.switchform {
    background-color:white;
    color: rgb(97, 100, 103);
    padding: 13px 25px;
    border: 2px solid transparent;
    border-color: rgb(97, 100, 103);
    cursor: pointer;
    text-align: center;
    max-width: 400px;
    width: 61vh;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 19px;
    margin-bottom: 19px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    outline: none;
}

.switchform:hover{
    color:white;
    background-color: (rgb(97, 100, 103));
}