.login-form-container {
    font-family: Circular, Helvetica, Arial, sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 250px;  
}

.login-form-container h1{
    font-size: 100px;
}

.login-form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form {
    
}

.login-input {

}

.demo {
    
}

.demo-button {
    background-color:rgb(16, 185, 16);
    color: rgb(250, 234, 4);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    width: 50%;
    // text-align: center;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.demo-button:hover{
    color:rgb(16, 185, 16);
    background-color: (rgb(250, 234, 4));
}

.session-submit {
    background-color:rgb(16, 185, 16);
    color: rgb(250, 234, 4);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}


.session-submit:hover{
    color:rgb(16, 185, 16);
    background-color: (rgb(250, 234, 4));
}